.post{
    border: solid;
    border-radius: 4mm;
    border-color: hsl(0, 0%, 69%);
    overflow: auto;
    width: 600px;
    background-color: hsl(207, 21%, 25%);
}

.albumcover{
    max-width: 150px;
    height: auto;
    border-radius: 4mm;
    float: right;
    margin: 8px;
    margin-left: 10px;
    border-radius: 3mm
}

.username{
    text-align: left;
    font-size:small;
    margin: 4px;
    margin-left:16px;
}

.feed{
}